<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="                                               
            http://www.springframework.org/schema/beans    
            http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 收费管理 py -->
	<bean id="billDAO" class="com.zking.water.py.dao.impl.BillDAOImpl"
		parent="baseDAO">
	</bean>

</beans>