<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="                                               
            http://www.springframework.org/schema/beans    
            http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 公共 base -->
	<bean name="baseDAO" class="com.zking.water.base.dao.impl.BaseDAOImpl"
		abstract="true">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean name="dictDAO" class="com.zking.water.base.dao.impl.DictDAOImpl"
		parent="baseDAO">
	</bean>
</beans>