<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="                                               
            http://www.springframework.org/schema/beans    
            http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 公共 base -->
	<bean name="baseDAO" class="com.zking.water.base.dao.impl.BaseDAOImpl"
		abstract="true">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean name="dictDAO" class="com.zking.water.base.dao.impl.DictDAOImpl"
		parent="baseDAO">
	</bean>

	<!-- 系统设置 sy -->
	<bean name="meterTypeDAO" class="com.zking.water.sy.dao.impl.MeterTypeDAOImpl"
		parent="baseDAO">
	</bean>
	<bean name="costTypeDAO" class="com.zking.water.sy.dao.impl.CostTypeDAOImpl"
		parent="baseDAO">
	</bean>
	<bean name="empDAO" class="com.zking.water.sy.dao.impl.EmpDAOImpl"
		parent="baseDAO">
	</bean>

	<!-- 用户管理 user -->
	<bean name="userDAO" class="com.zking.water.user.dao.impl.UserDAOImpl"
		parent="baseDAO">
	</bean>
	<bean name="meterDAO" class="com.zking.water.user.dao.impl.MeterDAOImpl"
		parent="baseDAO">
	</bean>

	<!-- 抄表管理 rd -->
	<bean name="readDAO" class="com.zking.water.rd.dao.impl.ReadDAOImpl"
		parent="baseDAO">
	</bean>

	<!-- 收费管理 py -->
	<bean name="billDAO" class="com.zking.water.py.dao.impl.BillDAOImpl"
		parent="baseDAO">
	</bean>

</beans>