<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="                                               
            http://www.springframework.org/schema/beans    
            http://www.springframework.org/schema/beans/spring-beans.xsd    
            http://www.springframework.org/schema/aop  
            http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 用户管理 user -->
	<bean id="userAction" class="com.zking.water.user.action.UserAction"
		scope="prototype" parent="baseAction">
		<property name="userBiz" ref="userBiz"></property>
	</bean>
	<bean id="orderLiteAction" class="com.zking.water.user.action.OrderLiteAction"
		scope="prototype" parent="baseAction">
		<property name="orderLiteBiz" ref="orderLiteBiz"></property>
	</bean>
	<bean id="smsAction" class="com.zking.water.user.action.SmsAction"
		scope="prototype" parent="baseAction">
		<property name="smsBiz" ref="smsBiz"></property>
		<property name="userBiz" ref="userBiz"></property>
	</bean>
</beans>